<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>開発編1</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Format.css">
</head>
<body>
    <main>
        <h3>STM32資料  編 </h3>
        <h1>ページサンプル</h1>


        <h2>今回やること</h2>

        <p>これからやる内容を書く</p>

        <h2>ピン設定</h2>

        <p>初めて使う機能はIDEの画像を貼るといいかも</p>

        <h2>回路</h2>

        <p>なるべくブレットボードの写真を貼ってね</p>

        <h2>プログラム</h2>
        
        <h3>関数</h3>

        <p>使用する関数の説明を書く</p>

        <h3>サンプルコード</h3>

        <p>載せる場合はサンプルコードを書く</p>
        <pre><code class="language-cpp">int main(void) {

}</code></pre>


        <h2>終わりに</h2>

        <p>今回の振り返りと次回やることを書く</p>

        <h2>リンク</h2>
        <a href= "https://nokolat.github.io/2025_STM32_Document/"><h3>・メインページ</h3></a>

    </main>
    <footer>
        <p>&copy; 2025 東京農工大学 航空研究会</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-cpp.min.js"></script>
</body>
</html>